@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --background: #f5dee3;
    --container: #C9A6AD;
    --font1: #441d20;
    --font2: #5a1f22;
    --font3: #420303;
    --shadow: #d40a0a;
}

html, body {
    overflow-x: hidden !important;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--background);
    text-align: center;
    color: var(--font1);
    font-size: 1.3rem;
}

h1 {
    text-shadow: 1px 1px 2px var(--shadow);
    color: var(--font2);
}

img {
    border-radius: 10%;
}

a:hover{
    filter: contrast(90%);
    color: var(--font1);
}

a:link, a:visited {
    text-decoration: none;
    color: var(--font3);
    font-weight: bold;
}

main {
    text-align: left;  
}

ol {
    padding-bottom: 2vh;
}

li {
    line-height: 4vh;
    padding-bottom: 1vh;
}

aside {
    font-style:italic;
    width: 80vw;
    font-size: 1.2rem;
}

.back {
    text-align: left;
}

.container {
    display: inline-flex;
    justify-content: space-evenly;
    gap: 10%;
    text-align: center;
    background-color: var(--container);
    padding-inline-start: 0;
    padding: 2vw;
}

.container li {
    line-height: 4vh;
}

.item {
    width: 30%;
}
.item img {
    width: 100%;
}

.heading-image {
    width: 30vmax;
    height: 100%;
}

@media (max-width: 400px) {
    body {
        font-size: 1.3rem;
    }

    ol li{
        line-height: 4vh;
    }

    .container {
        flex-direction: column;
        align-items: stretch;
        justify-content: stretch;
    }
    .item {
        width: 100%;
    }

}